.user-data {
  display: flex;
  padding-top: 1vh;
  padding-bottom: 1vh;
  justify-content: space-between;
  padding-right: 1vw;
  padding-left: 1vw;
  flex-wrap: wrap;
  align-content: center;
}

.user-data p {
  padding-right: 1vw;
}
